
@import url('./CSS/nav.css');
@import url('./CSS/utility.css');
@import url('./CSS/variable.css');
@import url('./Wishlist/wishlist.css');
@import url('./CartManagement/cartManagement.css');
@import url('./Authentication/login.css');
@import url('./ProductListing/productListing.css');

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    background-color: var(--bg-clr);
    cursor: pointer;

}
.category-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
.cat-image {
    width: 168px;
    font-size: 2rem;
    height: 117px;
}
.cat-item {
    font-size: 1.5rem;
    text-decoration: none;
}
.home-logo {
    width: 45rem;
    height: 40rem;
}
.new-arrivals {
    width: 25rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    gap:2rem;
    padding: 1rem;
}
.deal-image {
    width: 180px;
    font-size: 2rem;
    height: 140px;
}